.wrapper {
    display: flex;
    align-items: center;
    height: 45px;
    transition: border-bottom-width 0.3s ease-in-out;
}

.wrapper:focus-within {
    border-bottom-color: #2C384B;
}

.wrapper:focus-within label {
    font-weight: bold;
}

.wrapper > .wrapperIcon {
    color: #566275;
    padding-right: 0.5rem;
}

.wrapper > .wrapperLabelInput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 2px;
}

.wrapper > .wrapperLabelInput > .wrapperLabel {
    display: flex;
}

@-moz-keyframes SHOWING {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes SHOWING {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes SHOWING {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.wrapper > .wrapperLabelInput > .wrapperLabel > label {
    display: inline-block;
    color: #2C384B;
    font-size: 0.7rem;
    animation: SHOWING 0.3s ease-in-out;
}

.wrapper > .wrapperLabelInput > .wrapperLabel > span {
    order: 2;
    display: inline-block;
    color: #FF5471;
    font-size: 0.7rem;
    animation: SHOWING 0.3s ease-in-out;
}

.wrapper > .wrapperLabelInput input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #2C384B;
    font-size: 1.3rem;
    font-weight: 300;
}

.wrapper > .wrapperLabelInput input:focus {
     outline: none;
}

.wrapper > .wrapperLabelInput input::placeholder {
    color: #566275;
}